<div class="inner cover">
  <h1 class="cover-heading">What should I play ?</h1>
  <p class="lead"> You bouth a lot of games in steam but unable to find game to play ? This service will help you to find wich games you've oun but haven't played yet. </p>
  <p class="lead">
    <a href="/users/auth/steam" class="btn btn-lg btn-default">Sign in with steam</a>
  </p>
</div>
