<div class="inner cover">
  <h1 class="cover-heading">What should I play ?</h1>
  <p class="lead"> You've bought a lot of games in steam but unable to find game to play ? This service will help you to find which games you've own but haven't played yet. </p>
  <p class="lead">
    <a href="/users/auth/steam" class="btn btn-lg btn-default">Sign in with steam</a>
  </p>
</div>

<div class="mastfoot">
  <div class="inner">
    <p>2015 <a href="https://twitter.com/drshnitsel">@drshnitsel</a>.</p>
  </div>
</div>
