<!DOCTYPE html>
<html>
<head>
  <title>WhatShouldIPlay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
</head>
<body>

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

    <%= yield %>

    <div class="mastfoot">
      <div class="inner">
        <p>2015 <a href="https://twitter.com/drshnitsel">@drshnitsel</a>.</p>
      </div>
    </div>

  </div>

</div>

</div>
</body>
</html>
